h1{
    font-family: 'Courier New', Courier, monospace;
    color: red;
    text-align: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blue;
    border: 2px;
    border-style: solid;
    text-align: center;
}

.normal{
    background-color: khaki;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.restl{
    color: green;
    font-weight: bold;
}
