body{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(Images/cusco.jpg);
    background-size: 100%;
    color: rgb(128, 44, 8);
}

#information{
    text-align: center;
}
h1:hover{
    color: red;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    /* font-weight: bolder; */
}
h3{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 2px;
    text-align: justify; 
    background-color: beige;
    padding: px;
}

.normal{
    background-color: khaki;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    border-style: solid;
}

.restl{
    color: green;
    font-weight: bold;
}

.principale{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* .principale::first-line{
    background-color: lightgray;
} */